# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vs/
*.user
*.suo
*.sln.docstates
.vscode/
.idea/
*.sln.user
*.slnx.user
/backend/.vs/

# Node / Client
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example

# .NET / Backend
bin/
obj/
*.db
*.db-shm
*.db-wal
/backend/src/DocuMind.Api/bin/
/backend/src/DocuMind.Api/obj/

# Specific project files
/documind_implementation_guide.pdf
